<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<title>error</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<bootstrapcss/>
<style type="text/css">
body{font-family:"Microsoft Yahei";}
p{text-align:center;color:red;}
</style>
</head>
<body>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                <if condition="($msg eq 3) OR ($msg eq 2)">
                    登录限制
                <elseif condition="$msg eq 4"/>
                    权限限制
                <else />
                    value3
                </if>
                </h4>
            </div>
            <div class="modal-body">
                <if condition="$msg eq 3">
                    尊敬的用户，你的账户已被锁定，请联系管理员解锁！
                <elseif condition="$msg eq 2"/>
                    尊敬的用户，你的账户还没有完成邮箱验证，请验证后登陆！
                <elseif condition="$msg eq 4"/>
                    对不起，你的权限不足，请联系管理员提高权限等级！
                <else />
                    value3
                </if>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<bootstrapjs/>
<script>
$(function() {
    $('#myModal').modal()
    keyboard: true
});
</script>
<if condition="($msg eq 3) OR ($msg eq 2)">
    <!-- 登录限制 -->
    <script>
    $(function() {
        $('#myModal').on('hide.bs.modal',
        function() {
            window.location='{:U(index)}';
        })
    });
    </script>
    <!-- /.modal -->
<elseif condition="$msg eq 4"/>
    <!-- 权限限制 -->
    <script>
    $(function() {
        $('#myModal').on('hide.bs.modal',
        function() {
            window.location='{:U(index)}';
        })
    });
    </script>
    <!-- /.modal -->
<else />
    value3
</if>

</body>
</html>