@charset "utf-8";
body{font-family:'Microsoft Yahei';font-size:12px;}
table,.btn,.form-control{font-size:12px;}
a:hover, a:focus{text-decoration:none;}
ul,ol,li{list-style:none;margin:0;padding:0;}
label{font-weight:normal;cursor:pointer;margin:0;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th,
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{border:none;vertical-align:middle;height:25px;line-height:25px;border-top:1px solid #ddd;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th{text-align:center;font-weight:normal;}
table tfoot{text-align:center;}
form{overflow:hidden;}
input[type=radio], input[type=checkbox]{margin: 7px 0 0;}
/*font*/
.fa-px{font-size:1.5em;}
/*面包屑导航*/
.breadcrumb{background-color:#fff;padding:0;height:31px;line-height:31px;}
.breadcrumb .rightbut{float:right;}
/*
 *标签页
 */
 .tab-content{margin:20px 0;}

 /*日志*/
 .search_log{text-align:center;margin-top:20px; }

 /*个人中心*/
 .content-left{display:inline-block;float:left;}
.site-demo-upload {position:relative;background:#e2e2e2;display:inline-block;margin:20px 50px;}
.site-demo-upload, .site-demo-upload img {width:200px;height:200px;border-radius:100%;}
.site-demo-upload .site-demo-upbar{position:absolute;top:50%;left:50%;margin:-18px 0 0 -56px;}
.site-demo-upload .layui-upload-button{background-color: rgba(0,0,0,.2);color: rgba(255,255,255,1);}
.user-list{width:300px;}
.user-list li span{display:inline-block;padding-left:20px;}

.content-right{display:block;padding:50px 20px;}

 /*分页*/
.page{display:block;border-radius:4px;text-align:center;}
.page div{overflow:hidden;display:inline-block;}
.page a,.page span{float:left;padding:6px 12px;border:1px solid #ddd;margin-left: -1px;}
.page a:first-child, .page span:first-child{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
.page a:last-child, .page span:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px;}
.page .current,.page .current:focus,.page .current:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color: #337ab7;}
