<include file="Public:header" />
<ul class="nav nav-tabs">
	<li><a href="{:U('Admin/Rule/admin_user_list')}">管理员列表</a></li>
	<li class="active"><a data-toggle="tab" href="#menu1">修改管理员</a></li>
</ul>

<div class="tab-content">
	<div id="menu1" class="tab-pane fade in active">
		<form class="form-inline" method="post"> 
			<input type="hidden" name="id" value="{$user_data['id']}">
			<table class="table table-striped table-bordered table-hover table-condensed">
				<tr>
					<th>管理组</th>
					<td>
						<foreach name="data" item="v"> 
							<label for="{$v['id']}">{$v['title']}</label>
							<input class="xb-icheck" type="checkbox" name="group_ids[]" value="{$v['id']}" id="{$v['id']}" <in name="v['id']" value="$group_data"> checked="checked"</in> > &emsp;
						</foreach>
					</td>
				</tr>
				<tr>
					<th>用户名</th>
					<td><input class="form-control" type="text" name="username" value="{$user_data['username']}" disabled><span class="text-danger">&emsp;登录账号，填写后不可修改</span></td>
				</tr>
				<tr>
					<th>昵称</th>
					<td><input class="form-control" type="text" name="nickname" value="{$user_data['nickname']}" autocomplete="off"><span class="text-danger">&emsp;显示的名称</span></td>
				</tr>
				<tr>
					<th>手机号</th>
					<td><input class="form-control" type="text" name="phone" value="{$user_data['phone']}" autocomplete="off"></td>
				</tr>
				<tr>
					<th>邮箱</th>
					<td><input class="form-control" type="text" name="email" value="{$user_data['email']}" autocomplete="off"></td>
				</tr>
				<tr>
					<th>初始密码</th>
					<td><input class="form-control" type="password" name="password" autocomplete="off"><span class="text-danger">&emsp;如不改密码；留空即可</span></td>
				</tr>
				<tr>
					<th>状态</th>
					<td>
						<div class="btn-group" data-toggle="buttons">
						    <label class="btn btn-primary <eq name="user_data['status']" value="1">active</eq>">
						        <input type="radio" name="status" value="1" <eq name="user_data['status']" value="1">checked</eq>> 允许登录
						    </label>
						    <label class="btn btn-primary <eq name="user_data['status']" value="3">active</eq>">
						        <input type="radio" name="status" value="3" <eq name="user_data['status']" value="3">checked</eq>> 禁止登录
						    </label>
						</div>
					</td>
				</tr>
				<tr>
					<th></th>
					<td> <input class="btn btn-success" type="submit" value="修改"></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<include file="Public:footer" />